.cover__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    height: 740px;
}

@media (max-width: 1279px ) {
    .cover__link {
        height: 640px;
    }
}

@media (max-width: 1023px ) {
    .cover__link {
        height: 480px;
    }
}
