

.root {
    margin: 0 auto;
    background-color: #2A2C2F;
    min-width: 320px;
    max-width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 92%; 
    height: 52px;
    margin: auto;
    padding-top: 28px; 
}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang {
    display: flex;
    align-items: flex-end;
}

.header__lang-link {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    color: #fff;
    width: 30px;
    height: 28px;
    text-decoration: none;
}

.header__lang-link: {
    text-decoration: underline;
}

.header__lang-link:not(:last-child) {
    margin-right: 18px;
}

.main {
    display: flex;
    flex-direction: column;
}



/* ------------------------LEAD------------------------- */

.lead {
    display: flex;
    flex-direction: column;
    margin: 56px auto 0;
    width: calc(100% - 296px);
}

.lead__title {
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    width: 720px;
    min-height: 200px; 
    text-rendering: optimizeLegibility;
    margin: 0 auto 32px; 
}

.lead__subtitle {
    width: 640px;
    min-height: 72px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 120%;
    margin: 0 auto 64px; 
}

.lead__image {
    background-image: url('./image/lead-polka.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 615px;
    background-size: cover;
    margin-bottom: 4px;
}

.lead__caption {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
    margin-top: 4px;
    text-transform: uppercase;
}

                          /* ___________INTRO____________ */


.intro {

}

.intro__title {
    font-family: 'Intro', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;

}

.intro__text {
    font-family: 'Intro', sans-serif;
    color: #fff;
}

.intro__list {

}

.intro__list-item {
    font-family: 'Intro', sans-serif;
    color: #fff;
}









/* @media (max-width: 1024px) {
    .lead {
        width: 928px;
        margin: 0 48px 0;
    }
    .lead__title {
        margin: 0 152px 32px;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 320px) {
     .header {
        padding-top: 16px;
    }

    .header__logo {
        margin-right: 84px;
    }
    .header__logo {
        width: 142px;
        height: 42px;
    }

    .lead {
        width: 31%;
    }
} */

