.lead__title {
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    /* width: 57.93vw;
    min-height: 19.84vh; */
    width: 720px;
    min-height: 200px; 
    text-rendering: optimizeLegibility;
    margin: 0 auto 32px; 
}


@media (min-width: 320px) and (max-width: 767px) {
    .lead__title {
      font-weight: 900;
      font-size: 40px;
      line-height: 110%;
      width: 288px;
      min-height: 88px; 
      
    }
} 