.place__paragraph {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;

    margin-block-start: 0;
    margin-block-end: 0;
}

.place__paragraph:not(:last-child) {
    margin-bottom: 24px;
}

