.root {
    font-family: 'Inter', sans-serif;
    background-color: #2A2C2F;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1279px) {
    .root {
        max-width: 1024px;
    }
}
@media (max-width: 1023px) {
    .root {
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .root {
        width: 320px;
    }
}
