.cover__overlay {
    background-image: url('./../../../image/cover-trains_figma.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    transition: opacity .2s ease;
}

.cover:hover .cover__overlay {
    opacity: 0.2;
}