.place__url-heading  {
    color: #AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    margin-block-start: 0;
    margin-block-end: 12px;
}

@media (max-width: 1023px ) {
    .place__url-heading {
        font-size: 12px;
        line-height: 12px;
    }
}