.intro__title {
    font-family: 'Intro', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;

    margin-block-start: 0;
    margin-block-end: 42px;
}


@media (max-width: 768px ) {
    .intro__title {
        /* width: 720px; */
    }
}

@media (min-width: 320px ) and (max-width: 379px) {
    .intro__title {
        font-size: 32px;
        line-height: 109%;
        /* width: 288px; */
    }
}